<div class="header h-12 flex flex-row items-center justify-between">
  <div class="flex flex-row items-center">
    <a href="/">Genshinpedia</a>
  </div>
  <div>
    <a href="/characters">Characters</a>
    <a class="ml-3" href="#">Items</a>
    <a class="ml-3" href="#">Nav item 3</a>
    <a class="ml-3" href="#">Nav item 4</a>
    <a class="ml-3" href="#">Nav item 5</a>
  </div>
</div>
