<div
  class="header h-12 flex flex-row items-center justify-between font-roboto px-12"
>
  <div class="flex flex-row items-center">
    <a href="/">Template Project</a>
  </div>
  <div>
    <a href="/#">Nav item 1</a>
    <a class="ml-3" href="#">Nav item 2</a>
    <a class="ml-3" href="#">Nav item 3</a>
    <a class="ml-3" href="#">Nav item 4</a>
    <a class="ml-3" href="#">Nav item 5</a>
  </div>
</div>
