<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/gce0kpk.css" />
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Genshinpedia</title>
  </head>
  <body class="px-40">
    <%- include('partials/header'); -%>
    <div class="section-container">
      <h1 class="font-bold italic">Node.js + Express Project Template</h1>
    </div>
  </body>
</html>
